.linegraph {
  width: 85%;
  display: flex;
  position: relative;
}
@media screen and (min-width: 0px) {
  .linegraph {
    width: 200%;
  }
}
@media screen and (min-width: 700px) {
  .linegraph {
    width: 85%;
  }
  #profilepix {
    margin-right: 0px;
  }
  #name h2 {
    margin-right: 200px;
  }
}
@media screen and (min-width: 1000px) {
  .linegraph {
    width: 77%;
  }
  #profilepix {
    margin-right: 50px;
  }
  #name h2 {
    margin-right: 600px;
  }
}
