#save {
  padding: 20px 118px;
  margin: 30px 25px 30px 30px;
  box-shadow: 1px 1px 2px 1px rgb(173, 168, 168);
  border: none;
  background-color: rgb(72, 115, 196);
  color: whitesmoke;
  letter-spacing: 1.4px;
}
#add {
  padding: 20px 100px;
  margin: 30px 25px;
  box-shadow: 1px 1px 2px 1px rgb(173, 168, 168);
  border: none;
  background-color: rgb(101, 222, 226);
  color: whitesmoke;
  letter-spacing: 1.4px;
}
#cancel {
  padding: 20px 118px;
  margin: 30px 25px;
  box-shadow: 1px 1px 2px 1px rgb(173, 168, 168);
  border: none;
  letter-spacing: 1.4px;
}
@media screen and (min-width: 0px) {
  #save {
    margin: 30px 30px 10px 30px;
    width: 88%;
  }
  #add {
    padding: 10px 100px;
    margin: 30px 25px 10px 32px;
    width: 87%;
  }
  #cancel {
    width: 87%;
    margin: 30px 25px 50px 32px;
  }
  @media screen and (min-width: 700px) {
    #save {
      margin: 30px 30px 10px 30px;
      width: 75%;
    }
    #add {
      padding: 10px 100px;
      margin: 30px 25px 10px 32px;
      width: 75%;
    }
    #cancel {
      width: 75%;
      margin: 30px 25px 50px 32px;
    }
    @media screen and (min-width: 1000px) {
      #save {
        padding: 20px 0px;
        width: 23%;
      }
      #add {
        padding: 20px 0px;
        width: 23%;
      }
      #cancel {
        padding: 20px 0px;
        width: 22%;
      }
    }
  }
}
